/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body{
	font-family: "Montserrat", sans-serif;
	font-size:16px;
    line-height: 21px;
    letter-spacing:0;
    font-weight: 300;
	color:#8B8B8B;
    background-color: #FAFAFA;
    margin: 20px; /* asi enní ok */
    
}


h1{
	font-family: "Montserrat", sans-serif;
	font-size:28px;
    line-height: 37px;
    letter-spacing:0;
    font-weight: 500;
	color:#000000;
}


h2{
    font-family: "Montserrat", sans-serif;
	font-size:16px;
    line-height: 21px;
    letter-spacing:0;
    font-weight: 500;
	color:#000000;
}


.section{
    margin:30px;
    
}

/* Sekce traveler */
 .traveler{
   /* display:grid; */
   display:flex;
   flex-direction:column;
    align-items:center;
    text-align:center;
    margin:60px 0 60px 0;/* chci trochu odsadit obrazek */
 }

 .traveler img{
 width:350px;
 height:290.5px;
 
 }

 .button{
    font-family: "Montserrat", sans-serif;
	font-size:14px;
    line-height: 18px;
    letter-spacing:0;
    font-weight: 400;
	color:#FFFFFF;
    text-align:center;
    border-radius:20px;
    padding: 11px 30px;
    margin:10px 0;
    
}

.buttontraveler{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}




.modre{
    background-color:#407BFF;
    width:195px;
}



.sede{
    background-color:#8B8B8B;
    width:221px;
    
}

/* Sekce služby */
.sluzby{
    text-align:center;
   
   display:flex;
    flex-direction: column;
    align-items:center;
    
}
.sluzbytlacitka .prvni,
.sluzbytlacitka .druha,
.sluzbytlacitka .treti{
    font-family: "Montserrat", sans-serif;
	font-size:13px;
    line-height: 17px;
    letter-spacing:0;
    font-weight: 300;
	color:#8B8B8B;
    background-color:#FFFFFF;
    border-radius:10px;
  
    box-shadow: 0px 4px 6px rgba(64, 123, 255, 0.1);

    margin-bottom:15px;
    padding: 32px 20px;
    display:flex;
    align-items:center;
    width:460px;
    height:80px;
    
}

.sluzbytlacitka{
    margin:28px; 
   /* justify-self:center; */
    /* vypada to ze sluzby tlacitka vubec neni, obecne nutne upravit mezery mezi sekcemi */
}

.sluzbytlacitka img{
    margin-right:29px;
    margin-left:20px;

}

p{
    width:550px;
}


@media(min-width:640px){

.button{
    margin:10px 10px;

}
    .buttontraveler{
        display: flex;
        flex-direction: row;
        justify-content:center;
        
      
    }

}

.sluzbytlacitka{
    display:flex;
    flex-direction:row;
    
}

.sluzbytlacitka .prvni,
.sluzbytlacitka .druha,
.sluzbytlacitka .treti{

    margin-right:20px;
    
    height:172px;
    width:230px;
}

.sluzbytlacitka .treti{
    margin-right:0px;
}

.prvni, .druha,
.treti{

    flex-direction:column;
    
    justify-content:space-between;
    }


    @media(min-width:1100px){
        .traveler{
           
            display:flex;
            flex-direction:row;
            
            

    }}

    .sluzby{
        display:flex;
        flex-direction:row;
    }
