/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body{
	font-family: "Montserrat", sans-serif;
	font-size:16px;
    line-height: 21px;
    letter-spacing:0;
    font-weight: 300;
	color:#8B8B8B;
    background-color: #FAFAFA;
    margin: 20px; /* asi enní ok */
    
}


h1{
	font-family: "Montserrat", sans-serif;
	font-size:28px;
    line-height: 37px;
    letter-spacing:0;
    font-weight: 500;
	color:#000000;
}


h2{
    font-family: "Montserrat", sans-serif;
	font-size:16px;
    line-height: 21px;
    letter-spacing:0;
    font-weight: 500;
	color:#000000;
}


.section{
    margin:30px;
    
}

/* Sekce traveler */
 .traveler{
    
    text-align:center;
    margin:60px 0 60px 0;/* chci trochu odsadit obrazek */
 }

 

 .button{
    font-family: "Montserrat", sans-serif;
	font-size:14px;
    line-height: 18px;
    letter-spacing:0;
    font-weight: 400;
	color:#FFFFFF;
    text-align:center;
    border-radius:20px;
    padding: 11px 30px;
    margin:10px 0;
    
}

.buttontraveler{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.modre{
    background-color:#407BFF;
    width:195px;
}



.sede{
    background-color:#8B8B8B;
    width:221px;
}

/* Sekce služby */
.sluzby{
    text-align:center;
    margin:60px 0 60px 0;/* chci trochu odsadit obrazek */
    display: flex;
    flex-direction: column;
    
}
.sluzbytlacitka .prvni,
.sluzbytlacitka .druha,
.sluzbytlacitka .treti{
    font-family: "Montserrat", sans-serif;
	font-size:13px;
    line-height: 17px;
    letter-spacing:0;
    font-weight: 300;
	color:#8B8B8B;
    background-color:#FFFFFF;
    border-radius:10px;
    box-shadow: 0px 4px 6px #407BFF1F(64, 123, 255, 0.1);  /*  spatny stinbecne nutne upravit mezery mezi sekcemi */

    margin-bottom:15px;
    padding: 32px 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:460px;
    height:80px;
    
}

.sluzbytlacitka{
    margin:28px; 
    justify-content:center;
    /* vypada to ze sluzby tlacitka vubec neni, obecne nutne upravit mezery mezi sekcemi */
}

.sluzbytlacitka img{
    margin-right:29px;

}